################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/.vs/FSC/v15/Server/sqlite3
/00_Release
/01_Nuget
